
.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    flex-grow: 1;
}

.heightMax {
    height: 100%;
}

.switchForm {
    color: black; 
    text-decoration: underline; 
}

.svg {
    flex: 1 1 50%;
	object-fit: fill;
	overflow: hidden;
}