.navMenu {
    background-color: var(--header-bg-coffee);
    width: 0px;
    transition: 0.25s;
    left:0;
    white-space: nowrap;
}

.sticky {
    position: fixed;
    z-index: 998;
    height:100%
}

.borderCoffee {
    border-width: 0 0 1px 0;
    border-color: var(--main-bg-coffee);
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}