:root {
  --header-bg-coffee:#594545;
  --main-bg-coffee: #815B5B;
  --list-bg-coffee:#e3d6c5;
  --card-bg-coffee:#FFF8EA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: var(--main-bg-coffee);
}

main {
  flex-grow: 1;
}
